// COLORS
$primary-color: #FF6F61;
$secondary-color: #9E2A2B;
$tertiary-color: #fff3b0;
$quaternary-color: #335C67;
$quinary-color: #540B0E;

// BREAKS
$break-xlarge: 1200px;
$break-large: 992px;
$break-medium: 768px;
$break-small: 576px;


@mixin mask {
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.7);
}
